spring:
  datasource:
    url: jdbc:mariadb://database-1.cngam0sgegl7.ap-northeast-2.rds.amazonaws.com:3306/user
    driver-class-name: org.mariadb.jdbc.Driver
    username: admin
    password: 36423642
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
      default_batch_fetch_size: 100
    open-in-view: false
  web:
    resources:
      add-mappings: false
  cloud:
    aws:
      stack.auto: false

